header {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(173, 178, 203);
}
.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
}
.navbar .container {
  background-color: rgba(0, 0, 0, 0) !important;
}
.navbar .container .navbar-brand {
  color: rgb(173, 178, 203);
}
.navbar .container .navbar-nav .nav-link {
  color: rgb(173, 178, 203);
  border-radius: 20px;
  padding: 8px 16px;
}
.navbar .container .navbar-nav .nav-link.active {
  background-color: rgb(127, 68, 255) !important;
  color: white !important;
}

.navbar-nav {
  position: relative;
  width: 100%;
}

.navbar-nav .nav-item-cart,
.navbar-nav .nav-item-user {
  position: absolute;
  display: flex;
}

.navbar-nav .nav-item-user {
  right: -100px;
}
.navbar-nav .nav-item-cart {
  right: 60px;
}

.logo {
  width: 110px;
  height: auto;
  margin-right: -15px;
}

.popover-list {
  padding: 5px;
}

.popover-item {
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  padding: 3px;
  color: #333;
}

.popover-item i {
  margin-right: 8px;
}

.popover-item:hover {
  background-color: #f0f0f0;
  color: #ed145b;
  transition: color 0.3s ease;
}
