.intro-section {
  text-align: center;
  color: white;
  padding: 20px;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.product-category {
  width: 200px;
}
.product-category option {
  background-color: rgb(19, 23, 42);
}
.search-input {
  width: 300px;
  background-color: rgb(19, 23, 42);
  margin-right: 10px;
  border-color: rgba(255, 255, 255, 0.5);
  color: white;
}
.form-control {
  background-color: transparent;
  color: white;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.product-item {
  background-color: rgb(19, 23, 42);
  border: 1px solid rgb(35, 39, 61);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.product-name {
  color: white;
}
.product-description {
  color: rgb(173, 178, 203);
}
.product-price {
  color: white;
}
.product-rating {
  color: #ffd700;
  margin-top: 10px;
}
.product-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.space-x {
  margin: 0 5px;
}
