<app-header />
<div class="container">
  <div class="confirmation-container">
    <h1>Order</h1>
  </div>
  <form [formGroup]="orderForm">
    <div class="row">
      <div class="col-md-6 infor">
        <h2 class="product-header">Thông tin người nhận</h2>
        <div class="mb-3">
          <label for="fullname" class="form-label">Họ và tên</label>
          <input
            type="text"
            formControlName="fullname"
            class="form-control"
            id="fullname"
            [class.is-invalid]="
              orderForm.get('fullname')!.invalid &&
              orderForm.get('fullname')!.touched
            "
          />
          <div
            *ngIf="
              orderForm.get('fullname')!.invalid &&
              orderForm.get('fullname')!.touched
            "
            class="invalid-feedback"
          >
            Vui lòng nhập họ và tên!
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            id="email"
            [class.is-invalid]="
              orderForm.get('email')!.invalid && orderForm.get('email')!.touched
            "
          />
          <div
            *ngIf="
              orderForm.get('email')!.invalid && orderForm.get('email')!.touched
            "
            class="invalid-feedback"
          >
            Vui lòng nhập đúng định dạng email!
          </div>
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Địa chỉ</label>
          <input
            type="text"
            formControlName="address"
            class="form-control"
            id="address"
            [class.is-invalid]="
              orderForm.get('address')!.invalid &&
              orderForm.get('address')!.touched
            "
          />
          <div
            *ngIf="
              orderForm.get('address')!.invalid &&
              orderForm.get('address')!.touched
            "
            class="invalid-feedback"
          >
            Vui lòng nhập địa chỉ!
          </div>
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Số điện thoại</label>
          <input
            type="text"
            formControlName="phone_number"
            class="form-control"
            id="phone"
            [class.is-invalid]="
              orderForm.get('phone_number')!.invalid &&
              orderForm.get('phone_number')!.touched
            "
          />
          <div
            *ngIf="
              orderForm.get('phone_number')!.invalid &&
              orderForm.get('phone_number')!.touched
            "
            class="invalid-feedback"
          >
            Số điện thoại phải bắt đầu bằng số 0 và có 10 chữ số!
          </div>
        </div>
        <div class="mb-3">
          <label for="note" class="form-label">Ghi chú</label>
          <input
            type="text"
            formControlName="note"
            class="form-control"
            id="note"
          />
        </div>
        <div class="form-group">
          <label for="shippingMethod" class="form-label"
            >Phương thức vận chuyển</label
          >
          <select
            formControlName="shipping_method"
            class="form-control"
            id="shippingMethod"
          >
            <option value="express">Nhanh (Express)</option>
            <option value="normal">Thường (Normal)</option>
          </select>
        </div>
        <div class="form-group mt-3 mb-3">
          <label for="paymentMethod" class="form-label"
            >Phương thức thanh toán</label
          >
          <select
            formControlName="payment_method"
            class="form-control"
            id="paymentMethod"
          >
            <option value="cod">Thanh toán khi nhận hàng (COD)</option>
            <option value="other">Thanh toán khác</option>
          </select>
        </div>
      </div>

      <!-- form -->
      <div class="col-md-6 cart">
        <h2 class="product-order">Sản phẩm đã đặt hàng</h2>
        <table class="mt-3">
          <thead>
            <tr>
              <th scope="col" class="text-start">Sản phẩm</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Đơn giá</th>
              <th scope="col">Tổng giá</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of cartItems">
              <tr>
                <td>
                  <div class="product-info">
                    <img
                      [src]="item.product.thumbnail"
                      class="product-image"
                      alt="Product Image"
                      loading="lazy"
                    />
                    <span class="product-name">{{ item.product.name }}</span>
                  </div>
                </td>
                <td>{{ item.quantity }}</td>
                <td>
                  {{
                    item.product.price | currency : "VND" : "symbol" : "1.0-0"
                  }}
                </td>
                <td>
                  {{
                    item.product.price * item.quantity
                      | currency : "VND" : "symbol" : "1.0-0"
                  }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="text-end mt-3">
          <h4>
            Tổng giá: {{ totalAmount | currency : "VND" : "symbol" : "1.0-0" }}
          </h4>
        </div>
        <div class="mt-3">
          <h4 class="product-header">Nhập coupon</h4>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Nhập coupon" />
            <button
              class="btn btn-gradient"
              type="button"
              (click)="applyCoupon()"
            >
              Áp dụng
            </button>
          </div>
        </div>
        <div class="text-start mt-3 mb-3">
          <button class="btn btn-gradient" type="button" (click)="placeOrder()">
            Đặt hàng
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<app-footer />
