.container {
  color: white;
}
h2 {
  font-weight: bold;
  color: rgba(219, 105, 250, 0.981);
}
.product-header {
  font-weight: bold;
  color: rgb(255, 64, 180);
}
.confirmation-container {
  margin: 50px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}
.confirmation-container h1 {
  text-align: center;
}
.infor {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}
.cart {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}
.product-info {
  display: flex;
  align-items: center;
}
.product-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 10px;
  object-fit: cover;
}
.product-name {
  color: white;
  margin-right: 10px;
}
table {
  width: 100%;
  border-radius: 10px;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid white;
  background-color: rgb(12, 13, 54);
}
th,
td {
  padding: 10px;
  text-align: center;
}
.btn-gradient {
  background: linear-gradient(to right, rgb(255, 64, 180), rgb(126, 43, 237));
  color: white;
  border-radius: 30px;
  width: 200px;
}

tbody tr {
  border-bottom: none;
}

tbody td {
  border-bottom: 1px solid white;
}

thead th {
  border-bottom: 2px solid white;
}

tbody tr:last-child td {
  border-bottom: none;
}
