<app-header />
<div class="container">
  <div class="intro-section">
    <h1>F-Sneaker</h1>
  </div>
  <div class="search-box">
    <select
      class="form-control product-category"
      [(ngModel)]="selectedCategoryId"
    >
      <option [value]="0">Tất cả &#9660;</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
    <input
      type="text"
      class="form-control search-input"
      placeholder="Search..."
      [(ngModel)]="keyword"
    />
    <button class="btn btn-search ml-2" (click)="searchProducts()">
      Search
    </button>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6" *ngFor="let product of products">
      <div class="product-item">
        <img
          [src]="product.url"
          alt="Product Image"
          class="product-image"
          (click)="onProductClick(product.id)"
        />
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-description">
          {{ product.description }}
        </p>
        <p class="product-price">Price: {{ product.price }}$</p>
        <div class="product-rating">
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Add to cart</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Buy now</button>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation" class="pagination-container">
    <ul class="pagination">
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link" href="#" (click)="onPageChange(1)">First</a>
      </li>
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link" href="#" (click)="onPageChange(currentPage - 1)"
          >Previous</a
        >
      </li>
      <ng-container *ngFor="let page of visiblePages">
        <li class="page-item" [ngClass]="{ active: page === currentPage }">
          <a class="page-link" href="#" (click)="onPageChange(page)">{{
            page
          }}</a>
        </li>
      </ng-container>
      <li class="page-item" *ngIf="currentPage < totalPages">
        <a class="page-link" href="#" (click)="onPageChange(currentPage + 1)"
          >Next</a
        >
      </li>
      <li class="page-item" *ngIf="currentPage < totalPages">
        <a class="page-link" href="#" (click)="onPageChange(totalPages)"
          >Last</a
        >
      </li>
    </ul>
  </nav>
</div>
<app-footer />
