@import "../../styles/shared-styles.scss";

.intro-section {
  text-align: center;
  color: white;
  padding: 20px;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.product-category {
  position: relative;
  width: 85px;
  border-radius: 8px 0 0 8px;
  padding: 10px;
}

.product-category::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 0.6em;
}

.product-category option {
  background-color: rgb(19, 23, 42);
}
.btn-search {
  background-color: #000;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 8px 15px;
  border-radius: 0 8px 8px 0;
}

.product-category,
.search-input,
.btn-search {
  height: 45px;
}

.btn-search:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.search-input {
  width: 300px;
  background-color: rgb(19, 23, 42);

  border-color: rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 0;
}
.form-control {
  background-color: transparent;
  color: white;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.product-item {
  background-color: rgb(19, 23, 42);
  border: 1px solid rgb(35, 39, 61);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.product-item:hover {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}
.product-name {
  color: white;
}
.product-description {
  color: rgb(173, 178, 203);
}
.product-price {
  color: white;
}
.product-rating {
  color: #ffd700;
  margin-top: 10px;
}
.product-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.space-x {
  margin: 0 5px;
}

//pagination button
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  padding: 10px 15px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination .page-link:hover {
  background-color: #007bff;
  color: #007bff;
  text-decoration: none;
}
