<app-header />
<div class="container">
  <div class="confirmation-container">
    <h1>Order Confirm</h1>
    <p>Dưới đây là thông tin chi tiết về đơn hàng của bạn!</p>
  </div>
  <div class="row">
    <table class="">
      <thead>
        <th scope="col" class="text-start">Sản phẩm</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Đơn giá</th>
        <th scope="col">Tổng giá</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="product-info">
              <img
                src="https://images.pexels.com/photos/10134303/pexels-photo-10134303.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="product-image"
                alt="Product Image"
              />
              <span class="product-name">Giày Hermes</span>
            </div>
          </td>
          <td>2</td>
          <td>10.000đ</td>
          <td>20.000đ</td>
        </tr>
        <tr>
          <td>
            <div class="product-info">
              <img
                src="https://images.pexels.com/photos/10134303/pexels-photo-10134303.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="product-image"
                alt="Product Image"
              />
              <span class="product-name">Giày Kiên Cường</span>
            </div>
          </td>
          <td>2</td>
          <td>10.000đ</td>
          <td>20.000đ</td>
        </tr>
        <tr>
          <td>
            <div class="product-info">
              <img
                src="https://images.pexels.com/photos/10134303/pexels-photo-10134303.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="product-image"
                alt="Product Image"
              />
              <span class="product-name">Giày Thuật sĩ</span>
            </div>
          </td>
          <td>2</td>
          <td>10.000đ</td>
          <td>20.000đ</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center mt-3">
      <button class="btn btn-gradient" type="button">Tiếp tục mua sắm</button>
    </div>
  </div>
</div>
<app-footer />
