<app-header />
<div class="container">
  <div class="intro-section">
    <h1>F-Sneaker</h1>
  </div>
  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Tìm sản phẩm..."
    />
    <select class="form-control product-category">
      <option selected disabled>Danh mục sản phẩm</option>
      <option>Giày da</option>
      <option>Giày thể thao</option>
      <option>Giày sắt</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="product-image"
        />
        <h3 class="product-name">Giày 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p class="product-price">Giá: <del>20000đ</del> 10000đ</p>
        <div class="product-rating">
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="product-image"
        />
        <h3 class="product-name">Giày 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p class="product-price">Giá: <del>20000đ</del> 10000đ</p>
        <div class="product-rating">
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="product-image"
        />
        <h3 class="product-name">Giày 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p class="product-price">Giá: <del>20000đ</del> 10000đ</p>
        <div class="product-rating">
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="product-image"
        />
        <h3 class="product-name">Giày 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p class="product-price">Giá: <del>20000đ</del> 10000đ</p>
        <div class="product-rating">
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="product-image"
        />
        <h3 class="product-name">Giày 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p class="product-price">Giá: <del>20000đ</del> 10000đ</p>
        <div class="product-rating">
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="product-image"
        />
        <h3 class="product-name">Giày 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p class="product-price">Giá: <del>20000đ</del> 10000đ</p>
        <div class="product-rating">
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-sharp fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer />
