<app-header />
<div class="container">
  <div class="intro-section">
    <h1>Chi tiết sản phẩm</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://images.pexels.com/photos/5066944/pexels-photo-5066944.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="product-image"
              alt="Product Image"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://images.pexels.com/photos/1032110/pexels-photo-1032110.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="product-image"
              alt="Product Image"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://images.pexels.com/photos/10134303/pexels-photo-10134303.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="product-image"
              alt="Product Image"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="row">
        <div class="thumbnail-container">
          <div class="thumbnail-item active">
            <img
              src="https://images.pexels.com/photos/5066944/pexels-photo-5066944.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="thumbnail-image"
              alt="Thumbnail Image"
            />
          </div>
          <div class="thumbnail-item">
            <img
              src="https://images.pexels.com/photos/1598505/pexels-photo-1598505.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="thumbnail-image"
              alt="Thumbnail Image"
            />
          </div>
          <div class="thumbnail-item">
            <img
              src="https://images.pexels.com/photos/1032110/pexels-photo-1032110.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="thumbnail-image"
              alt="Thumbnail Image"
            />
          </div>
          <div class="thumbnail-item">
            <img
              src="https://images.pexels.com/photos/10134303/pexels-photo-10134303.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="thumbnail-image"
              alt="Thumbnail Image"
            />
          </div>
          <div class="thumbnail-item">
            <img
              src="https://images.pexels.com/photos/5066944/pexels-photo-5066944.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="thumbnail-image"
              alt="Thumbnail Image"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-details">
        <h2>Thông tin chi tiết sản phẩm</h2>
        <p>Mô tả</p>
        <p>Giá: 10000đ</p>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
        <div class="product-quantity">
          <div class="border-wrapper">
            <button>-</button>
            <input type="text" value="1" />
            <button>+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer />
